.logoContainer {
  height: 100px;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  .appLogo {
    color: #fff;
  }
}
.trigger {
  color: #fff;
}
.header {
  padding: 0;
}
.siteLayoutBackground {
  margin: 24px 16px;
  padding: 24;
  min-height: 89vh;
}
